<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Логин</title>
</head>

<body>
    <h1>Вход в корпоративный аккаунт</h1>

    <form ru.depedence.data-auth="login" id="login-form" action="/api/auth/login">
        <input class="email-input" name="email" type="email" placeholder="Email" required>
        <input class="password-input" name="password" type="password" placeholder="Пароль" required>

        <button type="submit">Войти</button>
        <a class="redirect-login-ru.depedence.page" href="/register">Зарегистрироваться</a>
    </form>

    <p id="message"></p>

    <script src="/js/auth.js"></script>
</body>

</html>